<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cifrador y Descifrador de archivos</title>
</head>

<body>
    <h1>Cifrador y Descifrador de archivos</h1>

    <h2>Cifrar archivo con opción de guardar en local o en drive</h2>
    <form action="/cifrar" method="post" enctype="multipart/form-data">
        <label for="file">Seleccionar el archivo a cifrar :</label>
        <input type="file" name="file" id="file" accept=".txt">
        <br>

        <label for="key">Seleccionar la clave para realizar el cifrado :</label>
        <input type="file" name="key" id="key" accept=".key">
        <br>

        <label for="save_option">Guardar en:</label>
        <select name="save_option" id="save_option">
            <option value="local">Local</option>
            <option value="destino">Drive</option>
        </select>

        <button type="submit">Cifrar archivo</button>
    </form>

    <h2>Descargar clave y subir a Drive</h2>
    <form action="/descargar_clave" method="get">
        <button type="submit">Descargar Clave</button>
    </form>

    <form action="/subir_clave" method="post" enctype="multipart/form-data">
        <label for="clave">Seleccionar la clave para subir a Drive:</label>
        <input type="file" name="clave" id="clave" accept=".key">
        <button type="submit">Subir Clave a Drive</button>
    </form>

    <h2>Descifrar archivo</h2>
    <form action="/descifrar" method="post" enctype="multipart/form-data">
        <label for="file_descifrar">Seleccionar el archivo a descifrar :</label>
        <input type="file" name="file" accept=".txt">
        <br>

        <label for="key_descifrar">Seleccionar la clave para realizar el descifrado :</label>
        <input type="file" name="key" accept=".key"> 
        <br>

        <label for="save_option_descifrar">Guardar en:</label>
        <select name="save_option" id="save_option_descifrar">
            <option value="local">Local</option>
            <option value="destino">Drive</option>
        </select>

        <button type="submit">Descifrar archivo</button>
    </form>
    
    <h1>Cifrado Asimétrico</h1>
    
    <h2>Generar Claves</h2>
    <form action="/generate_keys" method="get">
        <button type="submit">Generar Claves</button>
    </form>

    <h2>Descargar Claves</h2>
    <a href="/download_public_key" download="public_key.pem">
        <button>Descargar Clave Pública</button>
    </a>
    
    <h2>Subir Clave Pública</h2>
    <form action="/upload_public_key" method="post" enctype="multipart/form-data">
        <input type="file" name="public_key_file">
        <button type="submit">Subir Clave Pública</button>
    </form>
    <h2>Listar Claves Públicas</h2>
    <form action="/listar_claves_publicas" method="get">
        <button type="submit">Listar Claves Públicas</button>
    </form>

    <h2>Claves Públicas Subidas</h2>
    <ul>
        {% for public_key in public_keys %}
            <li>{{ public_key }}</li>
        {% endfor %}
    </ul>

</body>
</html>
